//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');

//primary colors
$pale-blue:hsl(225, 100%, 94%);
$Bright-blue:hsl(245, 75%, 52%);

//neutral colors
$very-pale-blue:hsl(225, 100%, 98%);
$Desaturated-blue:hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

//typography-font
$font-size-paragraph:16px;
$font-weight-normal:500;
$font-weight-medium:700;
$font-weight-large:900;

//mobile-device width
$mobile-width: 415px;

//destop -device width
$desktop-width:1440px;




