@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e0e8ff;
  padding-top: 143px;
}

@media (min-width: 64em) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: 64em) {
  main {
    padding: 20px 60px 30px 20px;
  }
}

main .card {
  border-radius: 8px;
  width: 415px;
  height: 991px;
  margin: 0 auto;
  background: #f5f7ff;
  height: 676px !important;
}

@media (min-width: 64em) {
  main .card {
    width: 415px !important;
    margin: 0 auto;
  }
}

main .card img.card__image {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main .card .card__text {
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

main .card .card__text .topic {
  font-weight: 900;
  font-size: 1.1875rem;
  color: #000;
  margin-top: 2.875rem;
  margin-bottom: 2.0625rem;
}

main .card .card__text .card__description {
  font-weight: 500;
  font-size: 16px;
  color: #1f2f56;
  line-height: 20px;
}

main .card .card__text .card__music-player {
  background: #e0e8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px;
  border-radius: 8px;
  background: rgba(224, 232, 255, 0.466);
  margin-top: 36px;
  word-spacing: 10px;
  font-size: 12px;
  font-weight: 700;
}

main .card .card__text .card__music-player .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-indent: 10%;
  text-align: left !important;
  margin-top: 11px;
}

main .card .card__text .card__music-player .middle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: left !important;
  margin-top: 13px;
}

main .card .card__text .card__music-player .middle span {
  color: #1f2f56;
  font-weight: 500;
}

main .card .card__text .card__music-player .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 13px;
  text-align: right !important;
}

main .card .card__text .card__music-player .right a {
  color: #3829e0;
}

main .card .card__text button {
  width: 100%;
  font-weight: 700;
  border-radius: 8px;
  color: #f5f7ff;
  border: none;
  background: #3829e0;
  padding: 15px;
  margin-top: 29px;
  -webkit-box-shadow: -1px 15px 10px 3px rgba(152, 155, 164, 0.52);
          box-shadow: -1px 15px 10px 3px rgba(152, 155, 164, 0.52);
  cursor: pointer;
}

main .card .card__text .cancel {
  font-size: 13px;
  font-weight: 700;
  color: #7280a7;
  margin-top: 34px;
  margin-bottom: 43px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */